.main-container {
  padding: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.full-width {
  width: 100%;
}
.input-container {
  padding: 0 1rem;
  position: relative;
}
.input-element {
  border: 1px solid #ccc;
  border-radius: 0.35rem;
  line-height: 1.3;
  min-height: 1.188rem;
  max-height: 10rem;
}
.input-placeholder {
  color: #a2acb4;
  margin-left: 1rem;
}
